.hide {
  display: none;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.alert:not(.alert-inline) {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
}

.alert:not(.alert-inline).inline {
  position: static;
}

.alert-inline {
  margin: 20px 0 0 0;
}

.alert-inline:after {
  content: '';
  display: block;
  clear: both;
}

#app {
  padding-top: 76px;
  padding-left: 300px;
}

.navbar {
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  width: 100%;
}

.nav-link {
  padding: 1rem !important;
  color: #FFF !important;
}

.nav-item.active {
  background: #0c407d;
}

.nav-item.active img {
  opacity: 1;
}

.floor {
  margin: 0;
}

.path {
  margin: 0 16px 16px 16px;
}

.small-input {
  width: 70px;
  margin: 0 15px;
  text-align: center;
}

.filled {
  display: none;
}

.filled.visible {
  display: inline;
}

button[type=submit] {
  font-size: 20px;
  width: 100%;
  margin-top: 30px;
}

.table td {
  vertical-align: middle;
}

.image-td {
  text-align: center;
  width: 60px;
}

.form-check.with-image img {
  display: block;
  margin: 0 auto 10px auto;
}

.form-check.inline {
  display: inline-block;
  width: 48%;
  text-align: center;
}

.form-check.inline input {
  position: static;
  display: block;
  margin: 5px auto;
}

input[type=number] {
  padding: 3px 9px;
  font-size: 18px;
  width: 90px;
  text-align: center;
  color: #005cc1;
  font-weight: bold;
}

.image-td + td {
  font-size: 18px;
  font-weight: bold;
}

.form-check {
  padding: 0.2rem 0 0.2rem 2.25rem;
}

input[type=radio][name=scheme] {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

input[type=radio] {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.breadcrumb-item.active {
  color: #495057;
  font-weight: bold;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.form-check-input {
  position: absolute;
  margin-top: -0.1rem;
  margin-left: -2.25rem;
}

.icon--help {
  background: #ffffff;
  color: #007aff;
  border-radius: 50%;
  line-height: 18px;
  height: 20px;
  border: 1px dashed #007aff;
  width: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
  cursor: help;
  display: inline-block;
  font-style: normal;
  cursor: pointer;
  position: relative;
}

.icon--help:after {
  content: "i";
}

.icon--help span,
.icon--help p {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  visibility: hidden;
  max-width: 300px;
  min-width: 200px;
  background-color: #FFF;
  text-align: center;
  padding: 10px 15px;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  margin-top: 5px;
  right: 5px;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon--help.active span,
.icon--help.active p {
  visibility: visible;
  font-weight: normal;
  text-align: left;
  color: #000;
}

#sidebar {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 60px;
  /*padding: 76px 16px 16px 16px;*/
  /*color: #FFF;*/
  background-color: #263238;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar-content {
  height: 100%;
  overflow-y: auto;
}

.navigation a {
  text-decoration: none;
}

.navigation {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  position: relative;
}

.navigation .navigation-header {
  min-height: 30px;
  padding: 10px 20px;
  border-bottom: 0;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.82;
}

.navigation .navigation-header,
.navigation .navigation-header a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.navigation li {
  position: relative;
}

.navigation li a {
  border-left: 3px solid transparent;
}

.navigation li a:hover,
.navigation li a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.navigation > li > a {
  min-height: 44px;
  cursor: pointer;
  padding: 12px 58px 12px 20px;
}

.navigation li a {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  -webkit-transition: background 0.15s linear, color 0.15s linear;
  transition: background 0.15s linear, color 0.15s linear;
}

.navigation li.active > a,
.navigation li:hover a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-color: crimson;
}

.new-estimate {
  font-weight: 200;
  font-size: 13px;
  text-transform: uppercase;
}

.navigation li:hover .estimate-remove {
  display: block;
}

.estimate-remove {
  height: 48px;
  line-height: 48px;
  width: 48px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;
}

.estimate-remove:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.remove {
  cursor: pointer;
  text-align: center;
}

.remove:hover {
  color: red;
}

.select-item .form-group {
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  margin-top: -1px;
  border: 1px solid #CCC;
}

.select-item #name {
  margin-top: 1rem;
}

@media screen and (max-width: 1650px) {
  .navbar-nav {
    overflow-x: auto;
  }

  .nav-item {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 1450px) {
  .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }

  .nav-link img {
    margin-bottom: 4px;
  }
}

